---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { Temporary } from '../../components/Blog/Temporary.tsx'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-white dark:bg-color-main'>
    <Header />
    <main>
      <section class='w-full text-center text-4xl my-20'>
        <Temporary client:load />
        <h1 class='mt-5'>Scroll, drag, hover</h1>
        <h1 class='mt-5'>The page is being build...</h1>
      </section>
    </main>
    <Footer />
  </body>
</html>
