---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { Spinning3Model } from '../../components/Sword3Model/Spinning3Model'
import { Temporary } from '../../components/pages/Blog/Temporary'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-white dark:bg-color-main'>
    <Header />
    <main>
      <div class='welcome-gradient'></div>
      <section
        class='w-full bg-black flex justify-center flex-col items-center'
      >
        <!-- <Spinning3Model client:load modelPath='/3dmodels/sword/scene.gltf' /> -->
        <Temporary client:load />
        <h1 class='text-white text-4xl'>
          <figcaption>
            <cite>Be patient</cite> - Geralt of Rivia
          </figcaption>
        </h1>
      </section>
      <div class='goodbye-gradient'></div>
    </main>
    <Footer />
    <style>
      .welcome-gradient {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 1) 100%
        );
        height: 100px;
        width: 100%;
      }

      .goodbye-gradient {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        height: 100px;
        width: 100%;
      }
    </style>
  </body>
</html>
