html.dark {
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

html {
  font-family: 'Nunito', sans-serif;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.logo {
  font-family: 'Nunito', sans-serif;
  font-size: 38px;
  font-weight: bold;
}

.timeline-circle {
  background-color: #1db954;
}

.timeline-circle-unfinished {
  background-color: #ff58c2;
}

.read-blog-button {
  width: 190px;
  text-align: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
  background-color: #000;
  color: #fff;
}

:global(.dark) .read-blog-button {
  background-color: #fff;
  color: #000;
}
