---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Welcome from '../components/pages/About/Welcome.astro'
import Music from '../components/pages/About/Music.astro'
import NFTCollection from '../components/pages/About/NFTCollection.astro'
import { Experience } from '../components/pages/About/Experience.tsx'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-white dark:bg-color-main'>
    <Header />
    <main>
      <Welcome />
      <Experience />
      <Music />
      <NFTCollection />
    </main>
    <Footer />

    ../components/pages/About/Welcome.astro../components/pages/About/Music.astro../components/pages/About/NFTCollection.astro../components/pages/About/Experience.tsx
  </body>
</html>
