---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Welcome from '../components/Home/Welcome.astro'
import WhoIAm from '../components/Home/WhoIAm.astro'
import Videos from '../components/Home/Videos.tsx'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-white dark:bg-color-main'>
    <Header />
    <main>
      <Welcome />
      <WhoIAm />
      <Videos client:load />
    </main>
    <Footer />
  </body>
</html>
