---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Welcome from '../components/pages/Home/Welcome/Welcome.astro'
import WhoIAm from '../components/pages/Home/WhoIAm/WhoIAm.astro'
import Videos from '../components/pages/Home/Videos.tsx'
import Footer from '../components/Footer.astro'
import BlogIntro from '../components/pages/Home/BlogIntro/BlogIntro.astro'
import Projects from '../components/pages/Home/Projects.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='bg-white dark:bg-color-main'>
    <Header />
    <main>
      <Welcome />
      <BlogIntro />
      <Projects />
      <WhoIAm />
      <Videos client:load />
    </main>
    <Footer />
    <script>
      import Lenis from '@studio-freight/lenis'

      const lenis = new Lenis()

      function raf(time: any) {
        lenis.raf(time)
        requestAnimationFrame(raf)
      }

      requestAnimationFrame(raf)
    </script>
  </body>
</html>
