---
import { WelcomePhotoSection } from './WelcomePhotoSection'
import { TogetherText } from './TogetherText'
---

<div class='overflow-hidden'>
  <section
    class='w-full container mx-auto mt-10 flex flex-col md:flex-row justify-between pt-12'
  >
    <div
      class='mb-10 md:mb-0 w-full md:w-1/3 lg:w-1/2 flex flex-col items-center md:items-start justify-center md:max-w-96'
    >
      <h1
        class='text-3xl md:text-4xl lg:text-5xl mx-12 md:mx-0 flex flex-col md:block'
      >
        <span class='text--blue'>Hi, I'm Sharqi!</span>
        Let’s create
        <span class='text--yellow'>the finest software</span>
        <TogetherText client:load />
      </h1>
      <a href='/about' class='read-blog-button hover:scale-105 transition'
        >My Experience.</a
      >
      <a
        href='https://www.youtube.com/@kszarkiewicz/featured'
        target='_blank'
        class='watch-youtube-button hover:scale-105 transition'
        >Youtube Channel</a
      >
    </div>
    <div class='relative w-full md:w-2/3 lg:w-1/2 splash-container'>
      <WelcomePhotoSection client:load />
    </div>
  </section>

  <style>
    .splash-container {
      @media (max-width: 349px) {
        overflow: hidden;
      }
    }

    .splash-container {
      max-width: 620px;
      height: 570px;
    }

    .blue {
      color: #17c3fa;
    }

    .important {
      color: #ffd705;
    }

    :global(.dark) .watch-youtube-button {
      color: #fff;
      border: 2px solid white;

      &:hover {
        border: 2px solid #fa1dff;
      }
    }

    :global(.dark) .read-blog-button {
      background-color: #fff;
      color: #000;
    }
  </style>
</div>
