---
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
import MobileNav from './Nav/MobileNav.astro'
import Nav from './Nav/Nav.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header class='bg-color-light dark:bg-color-main pt-6 container mx-auto'>
  <nav class='flex items-center justify-between items-center h-14 mx-4'>
    <a href='/'
      ><Image
        src={logo}
        class='w-14 h-14'
        alt='Kacper Szarkiewicz Website Logo'
      /></a
    >

    <Nav />
    <div class='flex'>
      <div class='mr-3 md:hidden'>
        <MobileNav />
      </div>
      <ThemeIcon />
    </div>
  </nav>
</header>
