---
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
import { SITE_TITLE } from '../consts'
import MobileNav from './Nav/MobileNav.astro'
import Nav from './Nav/Nav.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header class='bg-color-light dark:bg-color-main'>
  <nav class='mx-auto max-w-7xl px-2 md:px-6 lg:px-8'>
    <div class='flex items-center justify-between items-center'>
      <a href='/'><Image src={logo} alt='Kacper Szarkiewicz Website Logo' /></a>

      <Nav />
      <MobileNav />
      <ThemeIcon />
    </div>
  </nav>
  <style>
    @font-face {
      font-family: 'Nunito';
      src: url('/fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }

    .logo {
      font-family: 'Nunito', sans-serif;
      font-size: 38px;
      font-weight: bold;
    }
  </style>
</header>
