---
import Nav from './Nav/Nav.astro'
import MobileNavMenu from './Nav/MobileNavMenu.astro'
import NavButtons from './Nav/NavButtons.astro'
import Logo from './Nav/Logo.astro'
---

<header
  class='bg-color-light dark:bg-color-main z-99 left-0 top-0 right-0'
  id='header'
>
  <nav class='pt-6 container mx-auto'>
    <section class='flex items-center justify-between items-center h-14 mx-4'>
      <Logo />
      <Nav />
      <NavButtons />
    </section>
    <section
      class='hidden md:hidden absolute left-0 top-28 right-0 bottom-0 menu-background'
      id='mobile-menu'
    >
      <MobileNavMenu />
    </section>
  </nav>
</header>
<div
  id='menu-bg'
  class='bg-white dark:bg-color-main top-0 left-0 right-0 bottom-0 hidden z-80'
>
</div>
