---
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
import logoLight from '../assets/logo-light.svg'
import MobileNav from './Nav/MobileNav.astro'
import Nav from './Nav/Nav.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header class='bg-color-light dark:bg-color-main pt-6 container mx-auto'>
  <nav class='flex items-center justify-between items-center h-14 mx-4'>
    <a href='/'
      ><Image
        src={logo}
        class='w-10 h-10 dark:hidden svgfix'
        alt='Kacper Szarkiewicz Website Logo'
      />
      <Image
        src={logoLight}
        class='w-10 h-10 hidden dark:block svgfix'
        alt='Kacper Szarkiewicz Website Logo'
      />
    </a>

    <Nav />
    <div class='flex'>
      <div class='mr-3 md:hidden'>
        <MobileNav />
      </div>
      <ThemeIcon />
    </div>
  </nav>
</header>

<style>
  .svgfix {
    shape-renderer: crispEdges;
  }
</style>
