---
import { Spinning3Model } from '../../Spinning3Model/Spinning3Model'
---

<section class='py-10'>
  <div
    class='container mx-auto flex flex-wrap w-full justify-center items-center'
  >
    <h2
      class='text-3xl md:text-4xl lg:text-5xl mx-12 md:mx-auto w-full text-center relative z-50 my-10'
    >
      📖 My Projects
    </h2>
    <p class='me-description mx-4'>
      This section is being created... now <span class='text--pink'
        >spin the banana instead.</span
      >
    </p>
    <Spinning3Model
      client:load
      modelPath='/3dmodels/banana/scene.gltf'
      canvasOptions={{
        camera: { position: [0, 0, 20] },
      }}
    />
  </div>
</section>
