---
import MobileNavMenu from './MobileNavMenu.astro'
---

<div class='block md:hidden'>
  <button
    type='button'
    aria-controls='mobile-menu'
    aria-expanded='false'
    id='menu-button'
    class='border-secondary hover:border-primary focus:border-primary inline-flex h-14 items-center justify-center overflow-hidden rounded-full border-2 p-1 transition focus:outline-none w-14'
  >
    <div class='relative h-8 w-8'>
      <span class='absolute -inset-0.5'></span>
      <span class='sr-only'>Open main menu</span>
      <svg
        width='32'
        height='32'
        viewBox='0 0 32 32'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
        ><rect
          id='rect-one'
          x='6'
          y='9'
          width='20'
          height='2'
          rx='1'
          fill='currentColor'
          class='transition-all duration-300 ease-in-out'
          style='transform: none; transform-origin: 0px 0px;'></rect><rect
          class='transition-all duration-300 ease-in-out'
          id='rect-two'
          x='6'
          y='15'
          width='20'
          height='2'
          rx='1'
          fill='currentColor'></rect><rect
          class='transition-all duration-300 ease-in-out'
          id='rect-three'
          x='6'
          y='21'
          width='20'
          height='2'
          rx='1'
          fill='currentColor'
          style='transform: none; transform-origin: 0px 0px;'></rect></svg
      >
    </div>
  </button>
  <div
    class='hidden md:hidden absolute left-0 top-28 right-0 bottom-0 menu-background'
    id='mobile-menu'
  >
    <MobileNavMenu />
  </div>
</div>

<style>
  .menu-background {
    background-color: #fff;
    z-index: 999;
  }

  :global(.dark) .menu-background {
    background-color: #2a2a48;
  }
</style>

<script>
  const oneOpenTransform = 'none'
  const oneOpenTransformOrigin = '0px 0px'
  const threeOpenTransform = 'none'
  const threeOpenTransformOrigin = '0px 0px'

  const oneClosedTransform = 'translateY(7px) rotate(45deg)'
  const oneClosedTransformOrigin = '16px 10px'
  const threeClosedTransform = 'translateY(-5px) rotate(-45deg)'
  const threeClosedTransformOrigin = '16px 22px'

  function openMenuAnimation(
    menuButton: HTMLButtonElement,
    one: HTMLElement,
    two: HTMLElement,
    three: HTMLElement,
  ) {
    menuButton.disabled = true
    one.style.transform = oneClosedTransform
    one.style.transformOrigin = oneClosedTransformOrigin
    two.style.opacity = '0'
    three.style.transform = threeClosedTransform
    three.style.transformOrigin = threeClosedTransformOrigin

    setTimeout(() => {
      menuButton.disabled = false
    }, 300)
  }

  function closeMenuAnimation(
    menuButton: HTMLButtonElement,
    one: HTMLElement,
    two: HTMLElement,
    three: HTMLElement,
  ) {
    menuButton.disabled = true
    one.style.transform = oneOpenTransform
    one.style.transformOrigin = oneOpenTransformOrigin
    two.style.opacity = '1'
    three.style.transform = threeOpenTransform
    three.style.transformOrigin = threeOpenTransformOrigin

    setTimeout(() => {
      menuButton.disabled = false
    }, 300)
  }

  function toggleMenu(isOpen: boolean) {
    const one = document.getElementById('rect-one')
    const two = document.getElementById('rect-two')
    const three = document.getElementById('rect-three')
    const menuButton = document.getElementById(
      'menu-button',
    ) as HTMLButtonElement

    if (!menuButton || !one || !two || !three) return

    if (isOpen) {
      closeMenuAnimation(menuButton, one, two, three)
    } else {
      openMenuAnimation(menuButton, one, two, three)
    }
  }

  const menuButton = document.getElementById('menu-button')
  const mobileMenu = document.getElementById('mobile-menu')

  if (menuButton && mobileMenu) {
    menuButton.addEventListener('click', () => {
      const isOpen = mobileMenu.classList.contains('block')

      if (isOpen) {
        mobileMenu.classList.remove('block')
        mobileMenu.classList.add('hidden')
      } else {
        mobileMenu.classList.remove('hidden')
        mobileMenu.classList.add('block')
      }

      toggleMenu(isOpen)
    })
  }
</script>
