---
import HeaderLink from '../HeaderLink.astro'
---

<div class='hidden md:ml-6 md:block'>
  <div class='flex items-center h-full'>
    <HeaderLink href='/blog' class='dark:text-slate-100 mx-4 text-xl'>
      Blog
    </HeaderLink>
    <HeaderLink
      target='_blank'
      href='https://www.youtube.com/channel/UCLJiABSd-uulY0TNv1wLJaA'
      class='dark:text-slate-100 mx-4 text-xl'
    >
      Youtube
    </HeaderLink>
    <HeaderLink
      target='_blank'
      href='https://github.com/Sharqiewicz'
      class='dark:text-slate-100 mx-4 text-xl'
    >
      Github
    </HeaderLink>
    <HeaderLink href='/about' class='dark:text-slate-100 mx-4 text-xl'>
      About
    </HeaderLink>
  </div>
</div>
